@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    
    
}

header{
    
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 1.8rem ;
}
nav{
    justify-content: center;
    align-items: center;
    color: #fff;
}

nav div i{
    list-style: none;
    color: #fff;
    cursor: pointer;

}

section{
    width: 20%;
    
}
form {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem;
}
input, select {
    background: #FFFFFF;
    border: 1px solid #485460;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    outline: none;
}
label{
    font-size: 1.5rem;
    margin: 1rem;
    padding: auto;
    color:#fff;
}
main{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}

.card{
    color: #fff;
    margin: auto;
    
}
.card h5{
    font-size: 1.7rem;
    font-weight: 800;
}
.card p, span,i {
    font-size: 1.3rem;
}

.card-img{
    width: 35rem;
    height: 20rem; 
} 
#view{
    color: gray;
    cursor: pointer;
    font-weight: 700;
    justify-content: first baseline;

}
button{
    background-color: transparent;
    
}
button i{
    color: #fff;
    padding: .5rem;
}


.itens::before {
    content: "🟊 ";
}